.parent {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: scroll;
  z-index: 1000;
  background-color: transparent;
  scroll-behavior: smooth;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}
.hidden {
  visibility: hidden;
}
h1 {
  display: flex;
  align-items: center;
  color: aliceblue;
  margin-top: 25vh;
}
