#container {
  overscroll-behavior: none;
}
@media (max-width: 500px) {
  .parent {
    scroll-snap-type: y mandatory;
  }
}
@media (min-width: 500px) {
  .parent {
    scroll-snap-type: y proximity;
  }
}
.parent {
  height: 100vh;
  overflow: scroll;
  z-index: 1000;
  background-color: transparent;
  scroll-behavior: smooth;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}
.hidden {
  visibility: hidden;
}
h1 {
  display: flex;
  align-items: center;
  color: aliceblue;
  margin-top: 25vh;
}
.test {
  height: 100vh;
  text-align: center;
}
